[Unit]
Description=SDR AM/NFM demodulator for %I
Documentation=https://github.com/charlie-foxtrot/RTLSDR-Airband/wiki
Wants=network.target
After=network.target

[Service]
Type=simple
User=sdr
ExecStart=/usr/bin/rtl_airband -c /etc/rtlsdr-airband/%i.conf -Fe
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /run/rtlsdr-airband
ExecStartPre=/bin/chown sdr /run/rtlsdr-airband
Restart=on-failure

[Install]
WantedBy=multi-user.target

